<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <title>Blaze | Dashboard</title>
  </head>
  <body>
    <header class="header">
      <a href="/" class="title">
        <h1>Blaze</h1>
      </a>
    </header>

    <div class="container">
      <!-- Sidebar -->
      <nav class="sidebar">
        <a href="/" class="sidebar-item">Posts</a>
        <a href="/follows" class="sidebar-item">Follows</a>
        <a href="/dashboard" class="sidebar-item">Dashboard</a>
      </nav>

      <!-- Main Content -->
      <main>
        <div class="content">
          <h2>Dashboard</h2>
          <div style="display: flex">
            <div class="account-info"></div>
            <div class="recent-posts"></div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
