<header
  class="flex-row justify-content-between align-items-center px-4 py-2 bg-primary"
>
  <a href="/" class="text-decoration-none text-white">
    <h1 style="width: fit-content">Blaze</h1>
  </a>
</header>
