<header
  class="d-flex flex-row justify-content-between align-items-center px-4 py-2 bg-primary"
>
  <a href="/" class="text-decoration-none text-white">
    <h1 style="width: fit-content">Blaze</h1>
  </a>
  <nav class="d-flex gap-4">
    <a href="/login" class="text-decoration-none text-white">Login</a>
    <a href="/signup" class="text-decoration-none text-white">Signup</a>
  </nav>
</header>
