<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/posts.css" />
    <title>Blaze | Posts</title>
  </head>
  <body>
    <header class="header">
      <a href="/" class="title">
        <h1>Blaze</h1>
      </a>
    </header>

    <div class="container">
      <!-- Sidebar -->
      <nav class="sidebar">
        <a href="/" class="sidebar-item">Posts</a>
        <a href="/follows" class="sidebar-item">Follows</a>
        <a href="/dashboard" class="sidebar-item">Dashboard</a>
      </nav>

      <!-- Main Content -->
      <main>
        <div class="content">
          <h2>Posts</h2>
          <div class="post">
            <span>
              <h3 class="post-title">Post</h3>
              <a class="post-usertag">@author1</a>
            </span>
            <p class="post-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="post-date">Jan 1, 2020</p>
          </div>
          <div class="post">
            <span>
              <h3 class="post-title">Post Title</h3>
              <a class="post-usertag">@author2</a>
            </span>
            <p class="post-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="post-date">Jan 2, 2020</p>
          </div>
          <div class="post">
            <span>
              <h3 class="post-title">Title</h3>
              <a class="post-usertag">@author3</a>
            </span>
            <p class="post-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="post-date">Jan 3, 2020</p>
          </div>
          <div class="post">
            <span>
              <h3 class="post-title">Post</h3>
              <a class="post-usertag">@author4</a>
            </span>
            <p class="post-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="post-date">Jan 4, 2020</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
