*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow-y: auto;
}

.content {
  flex: 1;
}

.user-avatar {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.edit-profile-btn {
  width: fit-content;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.account-info {
  width: 50%;
}

.recent-posts {
  width: 50%;
  margin-bottom: 2rem;
}
